.result-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

h3 {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .result-grid {
    grid-template-columns: 1fr 1fr;
  }
}
